<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cloneproject_widia_12rpl2_28">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".initial"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <activity android:name=".ListSepeda"></activity>
        <activity android:name=".AddDataBarang" />
        <activity android:name=".EditSepeda" />
        <activity android:name=".EditCustomer" />
        <activity android:name=".Registrasi" />
        <activity android:name=".MainMenu" />
        <activity android:name=".ListData" />
        <activity android:name=".DataAdapter" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>